body{background-color: #4d4d4d; margin: 0px; padding: 0px; font-family: "Century Gothic", Arial, sans-serif;}

ul, li{list-style-type:none; margin: 0; padding:0; display: inline-block; text-align: center; margin-left: 20px;}

li:hover{color: red;}

i{display: none !important; font-size: 40px !important; margin-top: 5px;margin-bottom: 5px;color: darkslategrey;}

a{color: inherit; text-decoration: none;}


.players-wrap{display: inline-block;}

.wrap-responsive{height: 100vh;}

.intro{
    height: 13%;
    font-weight: bold;
    color: #efefef;
    background-image: url(../img/ss3.jpg);
    background-repeat: no-repeat;
    background-position: bottom left; 
    text-align: center;
    font-size: 7em;
    margin: 0px;
}

nav{
    height: 82px;
    background-color: white;
    color: #969696; 
    background-color: #1d1d1d;

}
 
nav img{
    position: relative;
    top: 10px;

}

.player{
    width: 230px;
    height: 270px;
    background-color: white;
    background-color: #efefef;
    border: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    border-radius: 2%;
}

.player p{
    text-align: center;
    margin: 0;
}

.player p{
    font-size: 1.5em;
    padding-top: 10px;
}

.player img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px; 
    border-radius: 50%;
    margin-top: 20px;
}


.players-container{
    height: 67%;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.link-container{
    height: 24%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.fa-chevron-circle-down{
    position: absolute;
    bottom: 0;
    right: 47.3%;
}

.fa-chevron-circle-down:hover{
    color: #1f1f1f;
}

.player:hover{border: 1px solid #4d4d4d; background-color: #e0e0e0;}

.player p:last-child{padding: 0; color: #7b7b7b; padding-top: 14px;}

.player p:last-child:hover{color: #8a8a8a;}

.player p:nth-child(2){display: none;}

.player p span{display: none;}

.fa-steam-square{color: #424242;}
.fa-steam-square:hover{color: #606060;}
.fa-facebook-square{color: #3b5998;}
.fa-facebook-square:hover{color: #5375bc;}
.fa-twitter-square{color: #00aced;}
.fa-twitter-square:hover{color: #2ac6ff;}
.fa-twitch{color: #6441A5; font-size: 2.79em !important; margin-left: -4px;}
.fa-twitch:hover{color: #8463c1;}



#search{
    width: 100%;
    height: 15%;
    font-size: 3em;
    font-family: 'Palanquin', sans-serif;
    text-transform: ;
    text-align: center;
    border: none;
    color: transparent;
    text-shadow: 0 0 0 gray;
    background-color: #2f2f2f;
}

#search input{
    color: red;
}

#search:focus{
    outline: none;
}
  
::-webkit-input-placeholder {
   color: #e0e0e0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #e0e0e0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #e0e0e0;
}

:-ms-input-placeholder {  
   color: #e0e0e0;
}


/* ===MEDIA QUERIES=== */
@media screen and (max-height: 950px){
    .intro{font-size: 6em;}
}

@media screen and (max-height: 830px){
    .intro{font-size: 5em;}
}

@media screen and (max-height: 670px){
    .intro{font-size: 4em;}
}

@media screen and (max-height: 540px){
    .intro{font-size: 3em;}
}

@media screen and (max-height: 390px){
    .intro{font-size: 2em;}
}
/* ===ANIMATED MOBILE MENU=== */
.menu-contain {display: none;cursor: pointer;margin-top: 10px;}
.bar1, .bar2, .bar3 {width: 35px;height: 5px;background-color: #333;margin: 6px;transition: 0.4s;}
.change .bar1 {-webkit-transform: rotate(-45deg); translate(-9px, 6px);transform: rotate(-45deg) translate(-9px, 6px);}
.change .bar2 {opacity: 0;}
.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px);transform: rotate(45deg) translate(-8px, -8px);}

/* ===MOBILE STYLES=== */

.show{
    display: block !important;
}
